* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
}

.header,
.hero,
.products,
.footer {
    flex-basis: 1140px;
}

.quote {
    flex-basis: 900px;
}

.header-box,
.hero-box,
.products-box,
.quote-box,
.footer-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.header-box,
.hero-box {
    background: #530930;
}

.header-box {
    flex-basis: 50px; 
}

.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 18px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.nav a {
    font-size: 18px;
    font-weight: 300;
    color: #EDECE7;
    text-decoration: none;
}

.nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.hero-box {
    flex-basis: 500px;
}

.hero {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 18px;
}

.hero-left {
    flex-basis: 500px;
}

.hero h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: 9px;
}

.hero p {
    font-size: 18px;
    color: #EDECE7;
    margin-bottom: 18px;
}

button {
    border: none;
    font-size: 18px;
    color: #4C102E;
    background-color: #9EC7B7;
    padding: 7px 36px;
    border-radius: 8px;
}

.intro-video {
    width: 600px;
}

.products-box {
    flex-basis: 500px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 18px;
}

.products h2 {
    font-size: 36px;
    color: #1F2937;
    weight: 900;
    flex-basis: 100%;
    text-align: center;
    padding-bottom: 36px;
}

.product {
    flex-basis: 250px;
    height: 250px;
    text-align: center;
    font-size: 18px;
}

.product img {
    width: 200px;
    height: 200px;
    border: 4px solid #9EC7B7;
    border-radius: 18px;
    margin-bottom: 9px;
}

.quote-box {
    background: #EDECE7;
    flex-basis: 250px;
    text-align: center;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
    text-align: left;
}

.quote-author {
    text-align: right;
    font-weight: 700;
    font-size: 18px;
}

.footer-box {
    flex-basis: 300px;
}

.footer {
    background: #716A63;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 108px;
    padding: 48px;
    font-size: 18px;
    color: #EDECE7;
}

.footer h2 {
    padding-bottom: 9px;
}

.footer button {
    border: 2px solid #716A63;
    align-self: flex-end;
}